langchain
langchain-core

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub
sentence-transformers

python-dotenv
scikit-learn
streamlit

# Run Using:- pip install -r requirements.txt
    